<a href="https://colab.research.google.com/github/MunnaGITAM/Rohit_INFO5731_SPRING2022/blob/main/INFO5731_Assignment_One_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here

import random as s
n=12
l1=[]
x=0
for i in range(n):
    x=s.randint(1,100)
    l1.append(x)
print("Random numbers generated: ", l1)
l1.sort()
print("list in Ascending order: ",l1)
l1.sort(reverse=True)
print("list in Descending order: ",l1)
print("Average of the list : ",sum(l1)/n)

Random numbers generated:  [84, 76, 20, 31, 34, 87, 59, 33, 21, 39, 87, 77]
list in Ascending order:  [20, 21, 31, 33, 34, 39, 59, 76, 77, 84, 87, 87]
list in Descending order:  [87, 87, 84, 77, 76, 59, 39, 34, 33, 31, 21, 20]
Average of the list :  54.0

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
import re
import string
#question1
sentence1 = input("Enter sentence1 : ")
sentence2 = input("Enter sentence2 : ")
#question2


list1 = re.compile(r'\w+|[^\w\s]').findall(sentence1)
list2 = re.compile(r'\w+|[^\w\s]').findall(sentence2)

print("The list of words for input 1 :",list1)
print("The list of words for input 2 :",list2)
#q3

print("common words : ", set(list1).intersection(set(list2)))
#q4

def remove_punctuation(ip):

  return ip.translate(str.maketrans('','',string.punctuation))


print("sentence1 after removing punctuations : ",remove_punctuation(sentence1))
print("sentence2 after removing punctuations : ",remove_punctuation(sentence2))
#q5
def compute(ip):
  vowels = "a,e,i,o,u"
  list_vowels = vowels.split(",")
  res = []
  val = []
  for i in list_vowels:
    j = ip.count(i)
    if(j>0):
      res.append(i)
      val.append(j)
  return dict(zip(res,val))

print("Number of vowels in sentence 1 : ",compute(sentence1))
print("Number of vowels in sentence 2 : ",compute(sentence2))

Enter sentence1 : "I LOVE TEXAS"!
Enter sentence2 : "I LOVE UNT"!
The list of words for input 1 : ['"', 'I', 'LOVE', 'TEXAS', '"', '!']
The list of words for input 2 : ['"', 'I', 'LOVE', 'UNT', '"', '!']
common words :  {'I', '!', 'LOVE', '"'}
sentence1 after removing punctuations :  I LOVE TEXAS
sentence2 after removing punctuations :  I LOVE UNT
Number of vowels in sentence 1 :  {}
Number of vowels in sentence 2 :  {}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
import math
pi=math.pi
x=4/3
print("r"+"  V")
for i in range(1,11):
    r=i*i*i
    v=x*pi*r
    print(i,"",round(v,2))

r  V
1  4.19
2  33.51
3  113.1
4  268.08
5  523.6
6  904.78
7  1436.76
8  2144.66
9  3053.63
10  4188.79

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
#question1
import pandas as pd

df = pd.read_csv('Assignment1_denton_housing (1).csv')#change the file name to given file name....
filtered_df = df[df['title_field']=='Occupied Housing Units'].sort_values(by=['year'])
filtered_df['value'].diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [ ]:
#question2
occupiedvalues_list = df[df['title_field']=='Occupied Housing Units'].sort_values(by=['year'])['value'].tolist()
vacantvalues_list = df[df['title_field']=='Vacant Housing Units'].sort_values(by=['year'])['value'].tolist()
total_values = df[df['title_field']=='Total Housing Units'].sort_values(by=['year'])['value'].tolist()
percentage_of_occupied =  [str((i/j) * 100) + '%' for i, j in zip(list_of_occupied_values, list_of_total_values)]
percentage_of_vacant =  [str((i/j) * 100) + '%' for i, j in zip(list_of_vacant_values, list_of_total_values)]
result = pd.DataFrame (list(zip(df[df['title_field']=='Occupied Housing Units'].sort_values(by=['year'])['year'].tolist(),percentage_of_vacant,percentage_of_occupied)),columns=['Year','Vacant Housing Units','Occupied Housing Units'])
result

   Year Vacant Housing Units Occupied Housing Units
0  2008   10.88265281351653%     89.11734718648347%
1  2009    9.07111572444872%     90.92888427555128%
2  2010   8.142556337081672%     91.85744366291833%
3  2011   9.379522229890688%      90.6204777701093%
4  2012   6.677600230491346%     93.32239976950866%
5  2013   8.801787504176412%     91.19821249582358%
6  2014   5.730110570363885%     94.26988942963611%

In [ ]:
#question3
df_occupied_values = df[df['title_field']=='Occupied Housing Units']
df_vacant_values = df[df['title_field']=='Vacant Housing Units']
occupied_max = df_occupied_values[df_occupied_values['value']==df_occupied_values["value"].max()]
vacant_max = df_vacant_values[df_vacant_values['value']==df_vacant_values["value"].max()]
contact_df = pd.concat([occupied_max, vacant_max])
print(contact_df[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [ ]:
# Your code here
#question4
from scipy.stats import hmean
hmean(total_values)

44398.28543969185