<a href="https://colab.research.google.com/github/MunnaGITAM/Rohit_INFO5731_SPRING2022/blob/main/In_class_exercise/In_class_exercise_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
str = input("Enter a string: ")
count = 0
for r in str:
      count = count+1
print("Length of the input string is:", count)

Enter a string: rohith
Length of the input string is: 6

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [4]:
def count_char(str):
    dict = {}
    for r in str:
        keys = dict.keys()
        if r in keys:
            dict[r] += 1
        else:
            dict[r] = 1
    return dict
print(count_char('rediff.com'))

{'r': 1, 'e': 1, 'd': 1, 'i': 1, 'f': 2, '.': 1, 'c': 1, 'o': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [5]:
list = [1, 3, 5, 7] 
whole = sum(list) 
print("Sum of all items in the list:",whole)

Sum of all items in the list: 16

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [6]:
def char_chg(str):
    char = str[0]
    str = str.replace (char, '$')
    str = char + str [1 : ]
    return str
print(char_chg('amazon'))

am$zon

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [9]:
a = int(input("a value: "))
b = int(input("bvalue: "))
c = (1 + a/b)**3
S = 3.14 * c
print("S value is :", S)

a value: 2
bvalue: 3
S value is : 14.537037037037033

3(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
d1={1:100,2:300}
d2={3:500,4:700}
d3={5:900,6:1100} 
d4 = {**d1,**d2,**d3}  
print(d4)

{1: 100, 2: 300, 3: 500, 4: 700, 5: 900, 6: 1100}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [12]:
t = (1,3,5,7)
e = 3
if e in t:
    print("yes, exists in tuple")
else:
    print("no, it does not exist in tuple")

yes, exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [13]:
set = {16, 12, 2, 8,25}
print(min(set))
print(max(set))

2
25

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [29]:
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
list1=[]
size=5
for x in range(0,len(studnet_list),size):
  list1.append(studnet_list[x:x+size])
print(list1)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'], ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'], ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [23]:
def duplicate_element(num):
    list= [1,2,2,3,4,5]
    num_set = set([1,2,2,3,4,5])
    no_duplicate = -1
    for i in range(len(num)):
      if num[i] in num_set:
            return num[i]
      else:
            num_set.add(num[i])
    return no_duplicate
print(duplicate_element([1, 2, 2, 3, 4, 5]))
print(duplicate_element([1, 2, 3, 3, 4]))
print(duplicate_element([1, 2, 3, 4, 5]))
print(duplicate_element([1, 2, 3, 3, 2, 2, 4, 4]))

TypeError: ignored

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [20]:
from datetime import date, timedelta
def sundays(year):
       date1 = date(year, 1, 1)       
       date1 += timedelta(days = 6 - date1.weekday())  
       while date1.year == year:
          yield date1
          date1 += timedelta(days = 7)
for sun in sundays(2021):
   print(sun)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26